/* _content/InsuranceApp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-q8t15t1fqo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

navbar[b-q8t15t1fqo] {
    margin-bottom: 50px;
}

.btn-primary[b-q8t15t1fqo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.box-shadow[b-q8t15t1fqo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-q8t15t1fqo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-q8t15t1fqo] {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
}
